html,
body {
  font-family: 'Lucida Grande', Tahoma, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;

  font-weight: 300;
  line-height: 1.3;
  word-spacing: 0.1px;
}

html.font--yep,
html.font--yep body {
  font-family: 'Fira Sans', 'Lucida Grande', Tahoma, sans-serif;
  line-height: 1;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
